<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/scrolling-nav.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/todomvc-common/base.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/todomvc-app-css/index.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="todomvc" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
            <script src="{{ asset('js/scrolling-nav.js') }}"></script>
            <script src="{{ asset('node_modules/todomvc-common/base.js') }}"></script>
            <script src="{{ asset('node_modules/angular/angular.js') }}"></script>
            <script src="{{ asset('node_modules/angular-route/angular-route.js') }}"></script>
            <script src="{{ asset('node_modules/angular-resource/angular-resource.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            <script src="{{ asset('js/controllers/todoCtrl.js') }}"></script>
            <script src="{{ asset('js/services/todoStorage.js') }}"></script>
            <script src="{{ asset('js/directives/todoFocus.js') }}"></script>
            <script src="{{ asset('js/directives/todoEscape.js') }}"></script>
        {% endblock %}
    </body>
</html>
