{% extends 'base.html.twig' %}

{% block title %} AW ToDo TestProject {% endblock %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><b>AW</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#todos">Add Todo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#todo-list">ToDos List</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    {% verbatim %}
    <ng-view></ng-view>
    <script type="text/ng-template" id="todomvc-index.html">
    <section id="todos" class="todos-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <section id="todoapp">
                        <header id="header">
                            <h1>add todos</h1>
                            <footer id="footer" ng-show="todos.length" ng-cloak>
                                <span id="todo-count"><strong>{{remainingCount}}</strong>
                                    <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                                </span>
                                <ul id="filters">
                                   <li>
                                      <a ng-class="{selected: status == ''} " href="#/">All</a>
                                   </li>
                                   <li>
                                       <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
                                   </li>
                                   <li>
                                       <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
                                   </li>
                                </ul>
                                <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
                            </footer>
                            <form id="todo-form" ng-submit="addTodo()">
                                <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
                            </form>
                        </header>
                        <section id="main" ng-show="todos.length" ng-cloak>
                           <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
                              <label for="toggle-all">Mark all as complete</label>
                              <ul id="todo-list">
                                 <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                                    <div class="view">
                                       <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                                       <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                                       <button class="destroy" ng-click="removeTodo(todo)"></button>
                                    </div>
                                    <form ng-submit="saveEdits(todo, 'submit')">
                                       <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
                                    </form>
                                 </li>
                              </ul>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </section>


    <!-- ToDo List Section -->
    <!--<section id="todo-list" class="todo-list-section">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<h1>todos list</h1>-->
                        <!--<ul id="todo-list">-->
                            <!--<li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">-->
                                <!--<div class="view">-->
                                    <!--<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">-->
                                    <!--<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>-->
                                    <!--<button class="destroy" ng-click="removeTodo(todo)"></button>-->
                                <!--</div>-->
                                <!--<form ng-submit="saveEdits(todo, 'submit')">-->
                                    <!--<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">-->
                                <!--</form>-->
                            <!--</li>-->
                        <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    </script>
    {% endverbatim %}
{% endblock %}